<div class="authorName"><%= @post.author&.name || "Unknown Author" %></div>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>
<h1 class="postTitle"><%= @post.title %></h1>
<p class="postBody"><%= @post.description %></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    console.log("page loaded, assigning click listeners")
    console.trace()
    $(".js-next").on("click", function() {
      console.log("clicked")
      var nextId = parseInt($(".js-next").attr("data-id")) + 1
      $.getJSON(`/posts/${nextId}/post_data`, function(data) {
        console.log("replacing text, id = ", data['id'])
        $(".authorName").text(data["author"]["name"])
        $(".postTitle").text(data["title"])
        $(".postBody").text(data["description"])
        $(".js-next").attr("data-id", data["id"])
      })
    })
  })
</script>